.checkoutContainer {
  height: 65svh;
  width: 85%;
  margin: 10svh auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}

.tituloListaContainer {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 20px;
}

.tituloPagina {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.lista {
  width: 100%;

  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: #e3e3e3 solid 2px;
  border-radius: 12px;
  overflow-y: auto;
}

.resumoPedidoContainer {
  width: 25%;
  height: 40svh;
  padding: 2em;
  margin-right: 5%;
  margin-top: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1em;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: #e3e3e3 solid 1px;
  border-radius: 12px;
}

.resumoPedidoTotalContainer {
  width: 100%;
  display: flex;
  margin-top: 1em;
  padding-bottom: 8px;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
}

.resumoPedidoTotalContainer > h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 10px;
}

.calculaFreteContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.inputEnderecoContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: start;
  justify-content: center;
}
.inputEnderecoContainer input {
  width: 80%;
  padding: 0.5em;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
}

.inputEnderecoContainer > label {
  font-size: 1.2rem;
  font-weight: 500;
}

.calculaFreteContainer > button {
  width: 20%;
  margin-top: 3%;
  padding: 0.8em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.inputEnderecoContainer input:focus {
  outline: none;
  border-color: #007bff;
}

.checkoutBtnContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}

.checkoutBtn {
  padding: 0.8em;
  background: none;
  border: 2px solid #e3e3e3;

  border-radius: 12px;
}
