.btn {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;

  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  padding: 0;

  overflow: hidden;
  cursor: pointer;
  background: #4747474d;
  border-radius: 12px;
  border-width: 0;

  animation: btnAnimation 0.3s ease-in-out;
}

.btnImg {
  width: 35px;
  height: 35px;
  padding: 0.3em;
}

.btnCheckmarkImg {
  background-color: green;
}

.btnText {
  text-align: center;
  padding: 0.8em 1.2em;
}

.btnContainer:hover {
  background-color: #47474718;
}

@keyframes btnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
