.btnContainer {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;

  overflow: hidden;
  border: 1px solid #e3e3e3;
  border-radius: 12px;
  transition: 0.3s;
}

.btnImg {
  width: 32px;
  height: 32px;
  padding: 0.3em;
}

.btnCheckmarkImg {
  background-color: green;
}

.btnText {
  text-align: center;
  padding: 0.8em 1.2em;
}

.btnContainer:hover {
  background-color: #47474718;
}
