.listaContainer {
  width: 400px;
  height: 250px;
  margin-top: 5px;
  padding: 0.1em;
  position: absolute;
  right: -1%;

  border: 1px solid #e3e3e3;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lista {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.15em;
  justify-content: start;
  overflow-y: auto;
}
