.listaItem {
  width: 97%;
  min-height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: #e3e3e3 solid 1px;
}

.cardImg {
  height: 70%;
  width: 8%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
}
.cardNome {
  margin: 0;
  width: 25%;
  font-size: 1.2em;
}

.btnsContainer {
  width: 10%;
  height: 80%;
}

.precoETotalContainer {
  display: flex;
  width: 25%;
  flex-direction: row;
  justify-content: space-between;
}
